* {
    border-sizing: border-box;
}



body {
    background-image: url('../assets/banner-footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
}