.banner {
  width: 100%;
  height: 300px; /* Ajusta esta altura según lo que necesites */
  overflow: hidden;
  position: relative;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen mientras cubre el área del banner */
}


.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

